@charset "UTF-8";
body {
    background-color: #fff;
    font-size: 12px !important;
}
.footer {
    background: #ddd;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding:0;
    text-align: center;
}

.footer .footer-logo .navbar-brand {
    color: #fff;
    display: inline-block;
    float: none;
    font-family: "Philosopher", sans-serif;
    font-weight: 500;
    height: 100%;
    letter-spacing: 0.2em;
    padding-left: 0;
    padding-top: 0;
}

.footer .footer-logo p {
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
}

.footer .list-menu > h4 {
    color: #fff;
    padding-bottom: 10px;
}

.footer .list-menu ul li a {
    color: #fff;
    font-size: 12px;
    padding-left: 5px;
    text-decoration: none;
    letter-spacing: 0;
}

.footer .copyrights {
    background: #fff;
    margin-top: 1px;
    text-align: center;
    padding: 5px;
}

.footer .copyrights p, .footer .copyrights .credits {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    letter-spacing: 0;
}

.footer .copyrights p a, .footer .copyrights .credits a {
    letter-spacing: 0;
    color: #71c55d;
}
.form-control{font-size: 12px;border-radius: 0px;}
.btn {
    border-radius: 0px; 
    font-size: inherit;
    padding: 5px 10px;
    text-transform: none;
}
.vrequired:after{ content:"*";color:red; }
.mtop{margin-top: 5%;}
.productbox {
    background-color:#ffffff;
	padding:10px;
	margin-bottom:10px;
	-webkit-box-shadow: 0 8px 6px -6px  #999;
	   -moz-box-shadow: 0 8px 6px -6px  #999;
	        box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
    font-weight:bold;
	padding:5px 0 5px 0;
}

.productprice {
	border-top:1px solid #dadada;
	padding-top:5px;
}

.pricetext {
	font-weight:bold;
	font-size:1.4em;
}