<!DOCTYPE html>
<html lang="en" data-ng-app="ngApp">
    <head>
        <meta charset="utf-8">
        <title>Angular Application</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
        <link href="img/favicon.png" rel="icon">
        <link href="js/ng/common/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="js/ng/common/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body data-ng-cloak data-ng-csp="no-inline-style;no-unsafe-eval" data-ng-controller="authctrl">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">Logo</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav" ng-if="usertype == 'CMS'">
                        <li data-ui-sref-active="active"><a href="javascript:;" ui-sref="category">Category</a></li>
                        <li data-ui-sref-active="active"><a href="javascript:;" ui-sref="product">Product</a></li>
                        <li data-ui-sref-active="active"><a href="javascript:;" ui-sref="orderlist">Order</a></li>
                        <li data-ui-sref-active="active"><a href="javascript:;" ui-sref="userlist">User</a></li>
                    </ul>
                    <ul class="nav navbar-nav" ng-if="usertype != 'CMS'">
                        <li data-ui-sref-active="active"><a href="javascript:;" ui-sref="products">Product</a></li>
                        <li data-ui-sref-active="active"><a href="javascript:;" ui-sref="cartlist">Cart</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi,{{usernmae}}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:;" ng-click="logout()">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="loginDiv">
            <br/>
            <br/>
            <br/>
            <div class="container">
                <div class="page-container" data-ng-cloak data-ng-csp="no-inline-style;no-unsafe-eval">
                    <div class="page-content-wrapper" data-ng-cloak data-ng-csp="no-inline-style;no-unsafe-eval">
                        <div class="page-content moverlay" data-ng-cloak data-ng-csp="no-inline-style;no-unsafe-eval">
                            <section data-ui-view ng-if="!stateIsLoading"></section>
                            <section ng-if="stateIsLoading" class="ngstateloader"></section>
                        </div>
                    </div>
                    <a href="javascript:;" class="page-quick-sidebar-toggler">
                        <i class="icon-login"></i>
                    </a>
                </div>
            </div>
        </section>
        <br/>
        <br/>
        <br/>
        <br/>
        <footer class="footer">
            <div class="copyrights">
                <div class="container">
                    <p>&copy; Copyrights eStartup. All rights reserved.</p>
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="js/ng/common/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="js/ng/common/bootstrap/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="js/ng/common/angular/angular.min.js"></script>
        <script type="text/javascript" src="js/ng/common/angular/angular-route.js"></script>
        <script type="text/javascript" src="js/ng/common/angular/angular-resource.js"></script>
        <script type="text/javascript" src="js/ng/common/angular/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="js/ng/common/angular/angular-ui.js"></script>
        <script type='text/javascript' src='js/ng/common/angular-animate/angular-animate.js'></script>
        <script type="text/javascript" src="js/ng/common/angular-sanitize.min.js"></script>
        <script type='text/javascript' src='js/ng/common/loading-bar/loading-bar.min.js'></script>
        <script type="text/javascript" src="js/ng/common/ocLazyLoad.min.js"></script>
        <script type="text/javascript" src="js/ng/common/ng-table/ng-table.min.js"></script>
        <script type="text/javascript" src="js/ng/common/bootbox/bootbox.min.js"></script>

        <script type="text/javascript" src="js/ng/app/custom.js"></script>
        <script type="text/javascript" src="js/ng/app/app.js"></script>
        <script type="text/javascript" src="js/ng/app/constant.js"></script>
        <script type="text/javascript" src="js/ng/app/config.js"></script>
        <script type="text/javascript" src="js/ng/app/route.js"></script>
        <script type="text/javascript" src="js/ng/app/directive.js"></script>
        <script type="text/javascript" src="js/ng/app/factories.js"></script>
        <script type="text/javascript" src="js/ng/app/services.js"></script>
        <script type="text/javascript" src="js/ng/app/filter.js"></script>

        <script type="text/javascript" src="js/ng/app/ctrl/ctrl.js"></script>
        <script type="text/javascript" src="js/ng/app/ctrl/appCtrl.js"></script>
    </body>
</html>
