<!DOCTYPE html>
<html lang="en" data-ng-app="ngApp">
    <head>
        <meta charset="utf-8">
        <title>Angular Application</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
        <link href="img/favicon.png" rel="icon">
        <link href="js/ng/common/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="js/ng/common/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body data-ng-cloak data-ng-csp="no-inline-style;no-unsafe-eval" data-ng-controller="authctrl">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Logo</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="javascript:;" ng-click="signInSignUp('login')">Sign In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="loginDiv">
            <div class="clearfix mtop"></div>
            <div class="container" ng-switch="switch_val">
                <div class="row" ng-switch-when="login">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span>Sign in to start your session</span>
                            </div>
                            <div class="panel-body">
                                <fieldset>
                                    <form class="login-form" method="post" role="form" data-ng-submit="doLogin(LoginForm)" name="LoginForm" id="LoginForm" accept-charset="utf-8" novalidate>
                                        <div class="form-group">
                                            <div class="cols-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" autocomplete="off" ng-model="user.username" autofocus placeholder="Username" name="userid" id="userid" tabindex="1" maxlength="40" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="cols-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                    <input type="password" class="form-control" ng-model="user.password" autocomplete="off" placeholder="Password" name="password" id="password" tabindex="1" maxlength="30" required/>            
                                                </div>
                                            </div>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value=""/> Remember me</label>
                                        </div>
                                        <button id="signinbtn" type="submit" class="btn btn-primary btn-block msubmit" tabindex="1" ng-disabled="LoginForm.$invalid">Login</button>
                                        <br/>
                                        <div class="form-title">
                                            <span class="form-title text-danger" data-ng-bind="errmsg" id="errormsg"></span>
                                        </div>
                                        <div class="text-left authenticating"></div>
                                        <div class="text-left redirect"></div>
                                        <br/>
                                        <div>
                                            <p>Don't have an Account! <a href="" ng-click="signInSignUp('signup')">Sign Up Here</a></p>
                                            <p>Forgot <a href="#">Password?</a></p>
                                        </div>
                                    </form>  
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-switch-when="signup">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span>Sign up</span>
                            </div>
                            <div class="panel-body">
                                <fieldset>
                                    <div class="form-title">
                                        <span class="form-title text-danger" data-ng-bind="errmsg" id="errormsg"></span>
                                    </div>
                                    <form class="login-form" method="post" role="form" data-ng-submit="doSignup(signupForm)" name="signupForm" id="signupForm" accept-charset="utf-8" novalidate>
                                        <div class="form-group">
                                            <label for="name" class="cols-sm-2 control-label vrequired">Your Name</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="name" id="name" ng-model="user.name"  placeholder="Enter your Name" tabindex="1" maxlength="30" required/>
                                                </div>
                                                <div class="text-danger" data-ng-if="submitted && signupForm['name'].$invalid">
                                                    <div data-ng-if="signupForm['name'].$error.required">Please enter your name.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label vrequired">Your Email ID</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="email" id="email" ng-model="user.email" placeholder="Enter your Email" tabindex="1" maxlength="30" required/>
                                                </div>
                                                <div class="text-danger" data-ng-if="submitted && signupForm['email'].$invalid">
                                                    <div data-ng-if="signupForm['email'].$error.required">Please enter your email id.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label vrequired">Your Mobile No.</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-mobile fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="mobile" id="mobile" ng-model="user.mobile" placeholder="Enter your Mobile No" tabindex="1" maxlength="30" required/>
                                                </div>
                                                <div class="text-danger" data-ng-if="submitted && signupForm['mobile'].$invalid">
                                                    <div data-ng-if="signupForm['mobile'].$error.required">Please enter your mobile no.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="cols-sm-2 control-label vrequired">Address</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-map-marker fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="address" id="address" ng-model="user.address"  placeholder="Enter your Address" tabindex="1" maxlength="100" required/>
                                                </div>
                                                <div class="text-danger" data-ng-if="submitted && signupForm['address'].$invalid">
                                                    <div data-ng-if="signupForm['address'].$error.required">Please enter your address.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="cols-sm-2 control-label vrequired">Username</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="usercode" id="usercode" ng-model="user.usercode" placeholder="Enter your Username" tabindex="1" maxlength="30" required/>
                                                </div>
                                                <div class="text-danger" data-ng-if="submitted && signupForm['usercode'].$invalid">
                                                    <div data-ng-if="signupForm['usercode'].$error.required">Please enter username.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="cols-sm-2 control-label vrequired">Password</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                    <input type="password" class="form-control" name="userpass" id="userpass" ng-model="user.userpass" placeholder="Enter your Password" tabindex="1" maxlength="30" required/>
                                                </div>
                                                <div class="text-danger" data-ng-if="submitted && signupForm['userpass'].$invalid">
                                                    <div data-ng-if="signupForm['userpass'].$error.required">Please enter password.</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="confirm" class="cols-sm-2 control-label vrequired">Confirm Password</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                    <input type="password" class="form-control" name="confirm" id="confirm" ng-model="user.confirm"  placeholder="Confirm your Password" tabindex="1" maxlength="30" required/>
                                                </div>
                                                <div class="text-danger" data-ng-if="submitted && signupForm['confirm'].$invalid">
                                                    <div data-ng-if="signupForm['confirm'].$error.required">Please enter confirm password.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <button id="signupbtn" type="submit" class="btn btn-primary btn-block msubmit" tabindex="1">Register</button>
                                        </div>
                                        <div>
                                            <p>Already have an account? <a href="" ng-click="signInSignUp('login')">Sign in</a></p>
                                        </div>
                                    </form> 
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br/>
        <br/>
        <br/>
        <br/>
        <footer class="footer">
            <div class="copyrights">
                <div class="container">
                    <p>&copy; Copyrights Manoranjan. All rights reserved.</p>
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="js/ng/common/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="js/ng/common/bootstrap/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="js/ng/common/angular/angular.min.js"></script>
        <script type="text/javascript" src="js/ng/common/angular/angular-route.js"></script>
        <script type="text/javascript" src="js/ng/common/angular/angular-resource.js"></script>
        <script type="text/javascript" src="js/ng/common/angular/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="js/ng/common/angular/angular-ui.js"></script>
        <script type='text/javascript' src='js/ng/common/angular-animate/angular-animate.js'></script>
        <script type="text/javascript" src="js/ng/common/angular-sanitize.min.js"></script>
        <script type='text/javascript' src='js/ng/common/loading-bar/loading-bar.min.js'></script>
        <script type="text/javascript" src="js/ng/common/ocLazyLoad.min.js"></script>
        <script type="text/javascript" src="js/ng/common/ng-table/ng-table.min.js"></script>
        <script type="text/javascript" src="js/ng/common/bootbox/bootbox.min.js"></script>

        <script type="text/javascript" src="js/ng/app/custom.js"></script>
        <script type="text/javascript" src="js/ng/app/app.js"></script>
        <script type="text/javascript" src="js/ng/app/constant.js"></script>
        <script type="text/javascript" src="js/ng/app/config.js"></script>
        <script type="text/javascript" src="js/ng/app/route.js"></script>
        <script type="text/javascript" src="js/ng/app/directive.js"></script>
        <script type="text/javascript" src="js/ng/app/factories.js"></script>
        <script type="text/javascript" src="js/ng/app/services.js"></script>
        <script type="text/javascript" src="js/ng/app/filter.js"></script>

        <script type="text/javascript" src="js/ng/app/ctrl/ctrl.js"></script>
        <script type="text/javascript" src="js/ng/app/ctrl/appCtrl.js"></script>
    </body>
</html>
