<div id="block_error">
    <div>
        <h2>Error 404.&nbsp;Oops you've have encountered an error.</h2>
        <p>
            It appears that either something went wrong or the page doesn't exist anymore..<br />
            This application is temporarily unable to service your request as it has exceeded it’s resource limit. Please check back shortly.
        </p>
        <p>
            If you are the owner of the account and are regularly seeing this error.
            If you have any questions, please contact our Technical Support department.
        </p>
    </div>
</div>
<style>
    #block_error div{padding: 5% 0% 0% 5%;}
    #block_error div h2{color: #218bdc;font-size: 16px;display: block;padding: 0 0 14px 0;border-bottom: 1px solid #cccccc; margin-bottom: 12px;font-weight: normal;}
</style>
