<div class="row">
    <div class="col-md-12">
        <br/>
        <div class="col-md-3 column productbox" ng-repeat="m in cartData">
            <img src="img/pic.jfif" class="img-responsive">
            <div class="producttitle">{{m.ptitle}}</div>
            <div class="producttitle">{{m.pdesc}}</div>
            <div class="productprice">
                <div class="pull-right">
                    <a href="" class="btn btn-danger btn-sm" role="button" ng-click="buyNow(m)">BUY</a>
                    <a href="" class="btn btn-warning btn-sm" role="button" ng-click="removeFromCart(m)">REMOVE</a>
                </div>
                <div class="pricetext">Rs.{{m.pprice}}</div><span>QTY:<b>{{m.qty|number:0}}</b></span>
            </div>
        </div>
        <div class="col-md-412 column productbox" ng-if="cartData.length == 0">
            <div>No product added.</div>
        </div>
    </div>
</div>

