<div class="row">
    <div class="col-md-12">
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Category</strong>
                <span class="pull-right">
                    <a class="badge" href=""  data-ng-click="newRec()"><i class="fa fa-plus-circle" title="Add/Create"></i> Add New</a>
                </span>
            </div>
            <div class="panel-body">
                <div ng-if="showListing">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <input class="form-control input-sm input-small"  tabindex="1" autofocus="true" ng-model="search_table" placeholder="Keyword" type="search">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="tabletools" class="table table-striped table-bordered table-hover table-sm" cellspacing="0">
                                    <thead>
                                        <tr >
                                            <th class="text-center">#</th>
                                            <th class="text-center text-nowrap">Category ID</th>
                                            <th class="text-center text-nowrap">Category Type</th>
                                            <th class="text-center text-nowrap">Description</th>
                                            <th class="text-center text-nowrap">Created By</th>
                                            <th class="text-center text-nowrap">Created Date</th>
                                            <th class="text-center text-nowrap">Modify By</th>
                                            <th class="text-center text-nowrap">Modify Date</th>
                                            <th class="text-center text-nowrap">Action</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="m in categoryData|filter:search_table">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td class="text-left text-nowrap"><a href="" ng-click="editRec(m, 'view')">{{m.cgid}} </a></td>
                                        <td class="text-left text-nowrap">{{m.ctype}}</td>
                                        <td class="text-left text-nowrap" title="{{m.cdesc}}">{{m.cdesc|ellipses:true:50:'...'}}</td>
                                        <td class="text-center text-nowrap">{{m.cid}}</td>
                                        <td class="text-center text-nowrap">{{m.cdt|dateTimeFilter}}</td>
                                        <td class="text-center text-nowrap">{{m.mid}}</td>
                                        <td class="text-center text-nowrap">{{m.mdt|dateTimeFilter}}</td>
                                        <th class="text-center text-nowrap">
                                            <a href="javascript::" class="" ng-click="editRec(m, 'view')">
                                                <i class="fa fa-eye" title="view"></i>
                                            </a>
                                            <a href="javascript::" class=""  ng-click="editRec(m, 'edit')">
                                                <i class="fa fa-pencil" title="Edit"></i>
                                            </a>
                                            <a href="javascript::" class=""  ng-click="editRec(m, 'delete')">
                                                <i class="fa fa-trash" title="Delete"></i>
                                            </a>
                                        </th>
                                    </tr> 
                                    <tr ng-if="categoryData.length == 0 && uloading == false">
                                        <td colspan="7" class="text-center">No record found.</td>
                                    </tr>
                                    <tr ng-if="uloading == true">
                                        <td colspan="7" class="text-center" ng-bind="loadingtxt"></td>
                                    </tr>
                                </table>
                            </div>   
                        </div>   
                    </div>   
                </div>   
                <div ng-if="showForm">
                    <form role="form" class="form-horizontal" data-ng-submit="saveRec(frmdata)"  name="frmdata" id="frmdata" novalidate>
                        <div class="form-group">
                            <label class="col-sm-3 control-label vrequired">Type</label>
                            <div class="col-sm-4">
                                <input type="text" id="ctype" name="ctype" tabindex="1" class="form-control text-uppercase" placeholder="Category Type" ng-model="bnk.ctype" ng-disabled="ngdisabled == 'view'" required="required">
                                <div class="text-danger" data-ng-if="submitted && frmdata['ctype'].$invalid">
                                    <div data-ng-if="frmdata['ctype'].$error.required">Please enter category type.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label vrequired">Description</label>
                            <div class="col-sm-9">
                                <input type="text" id="cdesc" name="cdesc" tabindex="1" class="form-control text-capitalize" placeholder="Category Description" ng-model="bnk.cdesc" ng-disabled="ngdisabled == 'view'" required="required">
                                <div class="text-danger" data-ng-if="submitted && frmdata['cdesc'].$invalid">
                                    <div data-ng-if="frmdata['cdesc'].$error.required">Please enter category description.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-sm-9">
                                <input type="reset" value="Cancel" class="btn default text-capitalize" ng-click="cancelHide()">
                                <input data-ng-if="sbhide" type="submit" value="{{buttonvalue}}" class="btn btn-info text-capitalize mclick">
                            </div>
                        </div>
                    </form>
                </div>
            </div>    
        </div>
    </div>
</div>