<div class="row">
    <div class="col-md-12">
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Order</strong>
            </div>
            <div class="panel-body">
                <div ng-if="showListing">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <input class="form-control input-sm input-small"  tabindex="1" autofocus="true" ng-model="search_table" placeholder="Keyword" type="search">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="tabletools" class="table table-striped table-bordered table-hover table-sm" cellspacing="0">
                                    <thead>
                                        <tr >
                                            <th class="text-center">#</th>
                                            <th class="text-center text-nowrap">Order ID</th>
                                            <th class="text-center text-nowrap">User ID</th>
                                            <th class="text-center text-nowrap">Product ID</th>
                                            <th class="text-center text-nowrap">Amount</th>
                                            <th class="text-center text-nowrap">Pay</th>
                                            <th class="text-center text-nowrap">Deliver</th>
                                            <th class="text-center text-nowrap">Created By</th>
                                            <th class="text-center text-nowrap">Created Date</th>
                                            <th class="text-center text-nowrap">Modify By</th>
                                            <th class="text-center text-nowrap">Modify Date</th>
                                            <th class="text-center text-nowrap">Action</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="m in orderData|filter:search_table">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td class="text-left text-nowrap"><a href="" ng-click="editRec(m, 'view')">{{m.ordid}} </a></td>
                                        <td class="text-left text-nowrap">{{m.uid}}</td>
                                        <td class="text-left text-nowrap">{{m.pcode}}</td>
                                        <td class="text-right text-nowrap">{{m.pamt|number:2}}</td>
                                        <td class="text-left text-nowrap">{{m.pay}}</td>
                                        <td class="text-left text-nowrap">{{m.deliver}}</td>
                                        <td class="text-center text-nowrap">{{m.cid}}</td>
                                        <td class="text-center text-nowrap">{{m.cdt|dateTimeFilter}}</td>
                                        <td class="text-center text-nowrap">{{m.mid}}</td>
                                        <td class="text-center text-nowrap">{{m.mdt|dateTimeFilter}}</td>
                                        <th class="text-center text-nowrap">
                                            <a href="javascript::" class="" ng-click="editRec(m, 'view')">
                                                <i class="fa fa-eye" title="view"></i>
                                            </a>
                                            <a href="javascript::" class=""  ng-click="editRec(m, 'edit')">
                                                <i class="fa fa-pencil" title="Edit"></i>
                                            </a>
                                            <a href="javascript::" class=""  ng-click="editRec(m, 'delete')">
                                                <i class="fa fa-trash" title="Delete"></i>
                                            </a>
                                        </th>
                                    </tr> 
                                    <tr ng-if="orderData.length == 0 && uloading == false">
                                        <td colspan="12" class="text-center">No record found.</td>
                                    </tr>
                                    <tr ng-if="uloading == true">
                                        <td colspan="12" class="text-center" ng-bind="loadingtxt"></td>
                                    </tr>
                                </table>
                            </div>   
                        </div>   
                    </div>   
                </div>   
                <div ng-if="showForm">
                    <div class="col-md-12">
                        <form role="form" class="form-horizontal" data-ng-submit="saveRec(frmdata)"  name="frmdata" id="frmdata" novalidate>
                            <table id="tabletools" class="table table-striped table-bordered table-hover table-sm" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <th class="text-left">Order ID</th>
                                        <td class="text-left text-nowrap">#{{bnk.ordid}}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">User ID</th>
                                        <td class="text-left text-nowrap">{{bnk.uid}}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Product ID</th>
                                        <td class="text-left text-nowrap">{{bnk.pid}}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Product Code</th>
                                        <td class="text-left text-nowrap">{{bnk.pcode}}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Amount</th>
                                        <td class="text-left text-nowrap">{{bnk.pamt|number:2}}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Payment Status</th>
                                        <td class="text-left text-nowrap">{{bnk.pay}}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Deliver Status</th>
                                        <td class="text-left text-nowrap" ng-if="ngdisabled == 'view'">{{bnk.deliveropt}}</td>
                                        <td class="text-left text-nowrap" ng-if="ngdisabled == 'edit'">
                                            <select id="numerator" ng-model="bnk.deliver" name="numerator" tabindex="1" class="form-control" data-ng-options="obj.val for obj in dlist track by obj.key"  ng-disabled="ngdisabled == 'view'" required="required" >
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-left">
                                <input type="reset" value="Cancel" class="btn default text-capitalize" ng-click="cancelHide()"/>
                                <input data-ng-if="sbhide" type="submit" value="{{buttonvalue}}" class="btn btn-info text-capitalize mclick"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>