<div class="row">
    <div class="col-md-12">
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Product</strong>
                <span class="pull-right">
                    <a class="badge" href=""  data-ng-click="newRec()"><i class="fa fa-plus-circle" title="Add/Create"></i> Add New</a>
                </span>
            </div>
            <div class="panel-body">
                <div ng-if="showListing">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <input class="form-control input-sm input-small"  tabindex="1" autofocus="true" ng-model="search_table" placeholder="Keyword" type="search">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="tabletools" class="table table-striped table-bordered table-hover table-sm" cellspacing="0">
                                    <thead>
                                        <tr >
                                            <th class="text-center">#</th>
                                            <th class="text-center text-nowrap">ID</th>
                                            <th class="text-center text-nowrap">Type</th>
                                            <th class="text-center text-nowrap">Title</th>
                                            <th class="text-center text-nowrap">Description</th>
                                            <th class="text-center text-nowrap">Price</th>
                                            <th class="text-center text-nowrap">Created By</th>
                                            <th class="text-center text-nowrap">Created Date</th>
                                            <th class="text-center text-nowrap">Modify By</th>
                                            <th class="text-center text-nowrap">Modify Date</th>
                                            <th class="text-center text-nowrap">Action</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="m in prodctData|filter:search_table">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td class="text-left text-nowrap"><a href="" ng-click="editRec(m, 'view')">{{m.pid}} </a></td>
                                        <td class="text-left text-nowrap">{{m.pcode}}</td>
                                        <td class="text-left text-nowrap">{{m.ptitle|ellipses:true:20:'...'}}</td>
                                        <td class="text-left text-nowrap">{{m.pdesc|ellipses:true:35:'...'}}</td>
                                        <td class="text-right text-nowrap">{{m.pprice|number:2}}</td>
                                        <td class="text-center text-nowrap">{{m.cid}}</td>
                                        <td class="text-center text-nowrap">{{m.cdt|dateTimeFilter}}</td>
                                        <td class="text-center text-nowrap">{{m.mid}}</td>
                                        <td class="text-center text-nowrap">{{m.mdt|dateTimeFilter}}</td>
                                        <th class="text-center text-nowrap">
                                            <a href="javascript::" class="" ng-click="editRec(m, 'view')">
                                                <i class="fa fa-eye" title="view"></i>
                                            </a>
                                            <a href="javascript::" class=""  ng-click="editRec(m, 'edit')">
                                                <i class="fa fa-pencil" title="Edit"></i>
                                            </a>
                                            <a href="javascript::" class=""  ng-click="editRec(m, 'delete')">
                                                <i class="fa fa-trash" title="Delete"></i>
                                            </a>
                                        </th>
                                    </tr>
                                    <tr ng-if="prodctData.length == 0 && uloading == false">
                                        <td colspan="11" class="text-center">No record found.</td>
                                    </tr>
                                    <tr ng-if="uloading == true">
                                        <td colspan="11" class="text-center" ng-bind="loadingtxt"></td>
                                    </tr>
                                </table>
                            </div>   
                        </div>   
                    </div>   
                </div>   
                <div ng-if="showForm">
                    <br>
                    <form role="form" class="form-horizontal" data-ng-submit="saveRec(frmdata)"  name="frmdata" id="frmdata" novalidate>
                        <div class="form-group">
                            <label class="col-sm-3 control-label vrequired">Product Category</label>
                            <div class="col-sm-6">
                                <select id="ctype" ng-model="bnk.cgid" name="ctype" tabindex="1" class="form-control" placeholder="Category" data-ng-options="obj.cgid + ' - ' + obj.ctype for obj in categoryList track by obj.cgid"  ng-disabled="ngdisabled == 'view'" required="required" >
                                </select>
                                <div class="text-danger" data-ng-if="submitted && frmdata['ctype'].$invalid">
                                    <div data-ng-if="frmdata['ctype'].$error.required">Please enter product category.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label vrequired">Product Code</label>
                            <div class="col-sm-6">
                                <input type="text" id="pcode" name="pcode" tabindex="1" class="form-control text-capitalize" placeholder="Product Code" ng-model="bnk.pcode" ng-disabled="ngdisabled == 'view'" required="required">
                                <div class="text-danger" data-ng-if="submitted && frmdata['pcode'].$invalid">
                                    <div data-ng-if="frmdata['pcode'].$error.required">Please enter product code.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label vrequired">Product Title</label>
                            <div class="col-sm-6">
                                <input type="text" id="ptitle" name="ptitle" tabindex="1" class="form-control text-capitalize" placeholder="Product Title" ng-model="bnk.ptitle" ng-disabled="ngdisabled == 'view'" required="required">
                                <div class="text-danger" data-ng-if="submitted && frmdata['ptitle'].$invalid">
                                    <div data-ng-if="frmdata['ptitle'].$error.required">Please enter product title.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label vrequired">Product Price</label>
                            <div class="col-sm-6">
                                <input type="text" id="pprice" name="pprice" tabindex="1" class="form-control text-capitalize" placeholder="Product Price" ng-model="bnk.pprice" ng-disabled="ngdisabled == 'view'" required="required">
                                <div class="text-danger" data-ng-if="submitted && frmdata['pprice'].$invalid">
                                    <div data-ng-if="frmdata['pprice'].$error.required">Please enter product title.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label vrequired">Product Description</label>
                            <div class="col-sm-9">
                                <input type="text" id="pdesc" name="pdesc" tabindex="1" class="form-control text-capitalize" placeholder="Product Description" ng-model="bnk.pdesc" ng-disabled="ngdisabled == 'view'" required="required">
                                <div class="text-danger" data-ng-if="submitted && frmdata['pdesc'].$invalid">
                                    <div data-ng-if="frmdata['pdesc'].$error.required">Please enter product description.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-sm-9">
                                <input type="reset" value="Cancel" class="btn default text-capitalize" ng-click="cancelHide()">
                                <input data-ng-if="sbhide" type="submit" value="{{buttonvalue}}" class="btn btn-info text-capitalize mclick">
                            </div>
                        </div>
                    </form>
                    <br>
                </div>
            </div>    
        </div>
    </div>
</div>

