<div class="row">
    <div class="col-md-12">
        <br/>
        <div class="col-md-12">
            <input type="text" class="form-control input-sm input-small"  tabindex="1" autofocus="true" ng-model="search" placeholder="Search"/>
        </div>
        <div class="col-md-4 column productbox" ng-repeat="m in prodctData|filter:search">
            <img src="img/pic.jfif" class="img-responsive">
            <div class="producttitle">{{m.ptitle}}</div>
            <div class="producttitle">{{m.pdesc}}</div>
            <div class="productprice">
                <div class="pull-right">
                    <a href="" class="btn btn-danger btn-sm" role="button" ng-click="buyNow(m)">BUY</a>
                    <a href="" class="btn btn-warning btn-sm" role="button" ng-click="addToCart(m)">ADD to Cart</a>
                </div>
                <div class="pricetext">Rs.{{m.pprice}}</div>
            </div>
        </div>
        <div class="col-md-412 column productbox" ng-if="prodctData.length==0">
            <div>No product found.</div>
        </div>
    </div>
</div>

