<div class="row">
    <div class="col-md-12">
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>User</strong>
            </div>
            <div class="panel-body">
                <div ng-if="showListing">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <input class="form-control input-sm input-small"  tabindex="1" autofocus="true" ng-model="search_table" placeholder="Keyword" type="search">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="tabletools" class="table table-striped table-bordered table-hover table-sm" cellspacing="0">
                                    <thead>
                                        <tr >
                                            <th class="text-center">#</th>
                                            <th class="text-center text-nowrap">User ID</th>
                                            <th class="text-center text-nowrap">Username</th>
                                            <th class="text-center text-nowrap">User Type</th>
                                            <th class="text-center text-nowrap">Title</th>
                                            <th class="text-center text-nowrap">Name</th>
                                            <th class="text-center text-nowrap">Email</th>
                                            <th class="text-center text-nowrap">Mobile</th>
                                            <th class="text-center text-nowrap">Created By</th>
                                            <th class="text-center text-nowrap">Created DT</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="m in userData|filter:search_table">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td class="text-left text-nowrap"><a href="" ng-click="editRec(m, 'view')">{{m.uid}} </a></td>
                                        <td class="text-left text-nowrap">{{m.ucode}}</td>
                                        <td class="text-left text-nowrap">{{m.utype}}</td>
                                        <td class="text-left text-nowrap">{{m.title}}</td>
                                        <td class="text-left text-nowrap">{{m.name}}</td>
                                        <td class="text-left text-nowrap">{{m.email}}</td>
                                        <td class="text-left text-nowrap">{{m.mobile}}</td>
                                        <td class="text-left text-nowrap">{{m.cid}}</td>
                                        <td class="text-left text-nowrap">{{m.cdt|dateTimeFilter}}</td>
                                    </tr> 
                                    <tr ng-if="userData.length == 0 && uloading == false">
                                        <td colspan="9" class="text-center">No record found.</td>
                                    </tr>
                                    <tr ng-if="uloading == true">
                                        <td colspan="9" class="text-center" ng-bind="loadingtxt"></td>
                                    </tr>
                                </table>
                            </div>   
                        </div>   
                    </div>   
                </div>   
                <div ng-if="showForm">
                    <br>
                    <table id="tabletools" class="table table-striped table-bordered table-hover table-sm" cellspacing="0">
                        <tbody>
                            <tr>
                                <th class="text-left">User ID</th>
                                <td class="text-left text-nowrap">#{{bnk.uid}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Username</th>
                                <td class="text-left text-nowrap">{{bnk.ucode}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">User Type</th>
                                <td class="text-left text-nowrap">{{bnk.utype}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Title</th>
                                <td class="text-left text-nowrap">{{bnk.title}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Name</th>
                                <td class="text-left text-nowrap">{{bnk.name}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Mobile</th>
                                <td class="text-left text-nowrap">{{bnk.mobile}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Email</th>
                                <td class="text-left text-nowrap" >{{bnk.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-left">
                        <input type="reset" value="Cancel" class="btn default text-capitalize" ng-click="cancelHide()"/>
                    </div>
                    <br>
                </div>
            </div>    
        </div>
    </div>
</div>
